* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.hamburger-menu {
  display: none;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 95%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

#header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background: black;
  padding: 30px 0;
}
#header .header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: 0.5s header alternate;
}
@keyframes header {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}
#header .header--group a {
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 0.003em;
  padding: 0 0 0 40px;
  transition: 0.3s;
}
#header .header--group a:hover {
  color: red;
}
#header .header--group button {
  width: 155px;
  height: 42px;
  background: #FFFFFF;
  border-radius: 14px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  margin: 0 0 0 20px;
  transition: 0.5s;
}
#header .header--group button:hover {
  transform: translateY(-15px);
  filter: drop-shadow(0 3px 3px #ff0000);
}

#aperture {
  background: url("../img/IMAGE.png") no-repeat center/cover;
}
#aperture .aperture--group {
  padding-top: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#aperture .aperture--group h1 {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #C0C0C0;
}
#aperture .aperture--group h2 {
  font-weight: 400;
  font-size: 54px;
  text-align: center;
  color: #FFFFFF;
}
#aperture .aperture--group p {
  width: 40%;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #C0C0C0;
}
#aperture .aperture--icon {
  display: flex;
  align-items: center;
  justify-content: end;
}
#aperture .aperture--icon__group {
  display: flex;
  align-items: start;
  padding: 0 30px;
}
#aperture .aperture--icon__group ion-icon {
  width: 20px;
  height: 20px;
  color: white;
}
#aperture .aperture--icon__group p {
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
}

#areas {
  background: #000000;
  padding: 80px 0;
}
#areas .areas--h1 {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 90px;
}
#areas .areas--p {
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #C0C0C0;
  padding: 20px 0;
}
#areas .areas--title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#areas .areas--title__img__image {
  position: relative;
}
#areas .areas--title__img__image .img {
  margin: 0 18px;
}
#areas .areas--title__img__image img {
  margin: 0 0 15px 15px;
}
#areas .areas--title__img__group {
  position: absolute;
  top: 185%;
}
#areas .areas--title__img__group--btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#areas .areas--title__img__group--btn img {
  margin: 0 5px;
}
#areas .areas--title__img__group h1 {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  padding-left: 20px;
}
#areas .areas--title__img__group p {
  width: 501px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
  padding: 20px 20px;
}
#areas .areas--title__img__group button {
  width: 143px;
  height: 42px;
  background: #FFFFFF;
  border-radius: 14px;
  border: none;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  margin-left: 20px;
  transition: 0.2s;
}
#areas .areas--title__img__group button--btn {
  width: 32px;
  height: 32px;
  background: black;
  border-radius: 12px;
}
#areas .areas--title__img__group button:hover {
  background: red;
}
#areas .areas--title__img__more {
  position: absolute;
  top: 185%;
  left: 51%;
}
#areas .areas--title__img__more--btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#areas .areas--title__img__more--btn img {
  margin: 0 5px;
}
#areas .areas--title__img__more h1 {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  padding-left: 20px;
}
#areas .areas--title__img__more p {
  width: 501px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
  padding: 20px 20px;
}
#areas .areas--title__img__more button {
  width: 143px;
  height: 42px;
  background: #FFFFFF;
  border-radius: 14px;
  border: none;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  margin-left: 20px;
  transition: 0.2s;
}
#areas .areas--title__img__more button:hover {
  background: red;
}
#areas .areas--title__img__read {
  position: absolute;
  top: 265%;
  left: 11%;
}
#areas .areas--title__img__read--btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#areas .areas--title__img__read--btn img {
  margin: 0 5px;
}
#areas .areas--title__img__read h1 {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  padding-left: 20px;
}
#areas .areas--title__img__read p {
  width: 501px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
  padding: 20px 20px;
}
#areas .areas--title__img__read button {
  width: 143px;
  height: 42px;
  background: #FFFFFF;
  border-radius: 14px;
  border: none;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  margin-left: 20px;
  transition: 0.2s;
}
#areas .areas--title__img__read button:hover {
  background: red;
}
#areas .areas--title__img__btn {
  position: absolute;
  top: 265%;
}
#areas .areas--title__img__btn--nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#areas .areas--title__img__btn--nav img {
  margin: 0 5px;
}
#areas .areas--title__img__btn h1 {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  padding-left: 20px;
}
#areas .areas--title__img__btn p {
  width: 501px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
  padding: 20px 20px;
}
#areas .areas--title__img__btn button {
  width: 143px;
  height: 42px;
  background: #FFFFFF;
  border-radius: 14px;
  border: none;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  margin-left: 20px;
  transition: 0.2s;
}
#areas .areas--title__img__btn button:hover {
  background: red;
}

#mount {
  background: url("../img/IMAGE (5).png") no-repeat center/cover;
  padding: 80px 0;
}
#mount .mount--group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding-top: 250px;
}
#mount .mount--group h1 {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  padding: 0 200px;
}
#mount .mount--group p {
  width: 298px;
  font-weight: 400;
  font-size: 14px;
  color: #C0C0C0;
  padding: 0 40px;
}
#mount .mount--icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 120px;
}
#mount .mount--icon__title {
  display: flex;
  align-items: start;
  padding: 0 30px;
}
#mount .mount--icon__title ion-icon {
  color: white;
  width: 20px;
  height: 20px;
}
#mount .mount--icon__title p {
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
}

#tools {
  background: black;
}
#tools .tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#tools .tools--group {
  padding-left: 60px;
}
#tools .tools--group__btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#tools .tools--group__btn img {
  margin: 0 5px;
}
#tools .tools--group h1 {
  font-weight: 400;
  font-size: 14px;
  color: #C0C0C0;
}
#tools .tools--group h2 {
  font-weight: 400;
  font-size: 28px;
  color: #FFFFFF;
}
#tools .tools--group p {
  width: 514px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}
#tools .tools--group button {
  width: 143px;
  height: 42px;
  background: #FFFFFF;
  border-radius: 14px;
  border: none;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  margin: 20px 0;
  transition: 0.2s;
}
#tools .tools--group button:hover {
  background: red;
}
#tools .tools--img__image {
  position: relative;
}
#tools .tools--img__icon {
  position: absolute;
  align-items: flex-end;
  justify-content: flex-end;
  padding-left: 300px;
  display: none;
}
#tools .tools--img__icon__title {
  display: flex;
  align-items: flex-start;
  padding: 0 20px;
}
#tools .tools--img__icon__title ion-icon {
  color: white;
  width: 20px;
  height: 20px;
}
#tools .tools--img__icon__title p {
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
}

#leafs {
  background: url("../img/IMAGE (7).png") no-repeat center/cover;
}
#leafs .leafs--group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding-top: 250px;
}
#leafs .leafs--group h1 {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  padding: 0 200px;
}
#leafs .leafs--group p {
  width: 273px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
  padding: 0 30px;
}
#leafs .leafs--icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 150px;
}
#leafs .leafs--icon__title {
  display: flex;
  align-items: start;
  padding: 20px 20px;
}
#leafs .leafs--icon__title ion-icon {
  color: white;
  width: 20px;
  height: 20px;
}
#leafs .leafs--icon__title p {
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
}

#past {
  background: #000000;
}
#past .past {
  padding-top: 50px;
}
#past .past h1 {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #FFFFFF;
}
#past .past p {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #C0C0C0;
}
#past .past--group {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#past .past--group__img {
  margin: 60px 0;
}

#fall {
  background: url("../img/IMAGE (8).png") no-repeat center/cover;
}
#fall .fall--group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding-top: 150px;
}
#fall .fall--group h1 {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0 100px;
}
#fall .fall--group p {
  width: 241px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
  padding: 0 50px;
}
#fall .fall--icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 180px;
}
#fall .fall--icon__title {
  display: flex;
  align-items: start;
  padding: 20px 20px;
}
#fall .fall--icon__title ion-icon {
  color: white;
  width: 20px;
  height: 20px;
}
#fall .fall--icon__title p {
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
}

#need {
  background: black;
  padding: 50px 0;
}
#need .need {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#need .need--btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#need .need--btn img {
  margin: 0 5px;
}
#need .need h1 {
  width: 571px;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #FFFFFF;
}
#need .need p {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #C0C0C0;
}
#need .need button {
  width: 143px;
  height: 42px;
  background: #FFFFFF;
  border-radius: 14px;
  border: none;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  margin: 20px 0;
  transition: 0.2s;
}
#need .need button:hover {
  background: red;
}

#footer {
  background: black;
  padding: 40px 0;
}
#footer .footer--group {
  display: flex;
  align-items: start;
  justify-content: space-around;
}
#footer .footer--group__one p {
  font-weight: 400;
  font-size: 13px;
  color: #C0C0C0;
  padding: 10px 0;
}
#footer .footer--group__two {
  display: flex;
  flex-direction: column;
}
#footer .footer--group__two h1 {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #C0C0C0;
}
#footer .footer--group__two a {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  padding: 10px 0;
}
#footer .footer--group__three {
  display: flex;
  flex-direction: column;
}
#footer .footer--group__three h1 {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #C0C0C0;
}
#footer .footer--group__three a {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  padding: 10px 0;
}
#footer .footer--title__lin {
  height: 2px;
  background: #FFFFFF;
  border-radius: 0px;
  margin: 40px 150px;
}
#footer .footer--title__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footer .footer--title__group--our {
  padding-left: 150px;
}
#footer .footer--title__group--our h1 {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 15px 0;
}
#footer .footer--title__group--our p {
  font-weight: 400;
  font-size: 13px;
  color: #C0C0C0;
}
#footer .footer--title__group--input {
  margin: 0 170px;
}
#footer .footer--title__group--input input {
  margin: 0 10px;
  width: 458px;
  height: 52px;
  background: #F9FAFB;
  border: 1px solid #E5E7EB;
  border-radius: 12px;
}
#footer .footer--title__group--input input::placeholder {
  color: black;
  font-size: 20px;
  padding-left: 20px;
}
#footer .footer--title__lin2 {
  height: 2px;
  background: #FFFFFF;
  border-radius: 0px;
  margin: 40px 150px;
}
#footer .footer--all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
#footer .footer--all__group h1 {
  font-weight: 400;
  font-size: 14px;
  color: #C0C0C0;
  padding: 0 150px;
}
#footer .footer--all__icon {
  display: flex;
  padding: 0 150px;
}
#footer .footer--all__icon ion-icon {
  color: white;
  width: 30px;
  height: 30px;
  margin: 0 20px;
}

/*# sourceMappingURL=stylys.css.map */
