@media(max-width: 1200px) {
  #aperture .aperture--icon {
    padding-top: 10px;
  }
  #areas .areas--title__img__group {
    display: none;
  }
  #areas .areas--title__img__more {
    display: none;
  }
  #areas .areas--title__img__read {
    display: none;
  }
  #areas .areas--title__img__btn {
    display: none;
  }
  #mount .mount--group h1 {
    padding: 100px;
  }
  #tools .tools--img__image img {
    width: 500px;
  }
  #footer .footer--title__lin {

  }
  #footer .footer--all__icon {
    padding: 0 50px;
  }
  #mount .mount--group h1{
    padding: 0 200px;
    display: flex;
  }
  #leafs .leafs--group h1{
    display: flex;
    padding: 0 200px;
  }
  #fall .fall--group h1{
    display: flex;

  }
}

@media(max-width: 1024px) {
  #tools .tools--img__image img {
    width: 400px;
  }
  #footer .footer--title__group--our h1 {
    font-size: 10px;
  }
  #footer .footer--title__group {
    display: flex;
    flex-direction: column;
  }
  #footer .footer--title__group--our p {
    padding: 10px 0;
  }

}

@media(max-width: 768px) {
  .hamburger-menu {
    display: block;
    height: 1px;
  }
  #header .header--group {
    display: none;
  }
  #tools .tools--group h2 {
    font-size: 20px;
  }
  #tools .tools--group p {
    width: 200px;
  }
  #tools .tools {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }
  #footer .footer--all {
    display: flex;
    flex-direction: column;
  }
  #footer .footer--all__group h1 {
    padding: 20px 0;
  }
}

@media(max-width: 576px) {
  .menu__btn{
    left: 93%;
  }
  #aperture .aperture--group p{
    width: 84%;
  }
  .areas--img__image img{
    width: 450px;
  }
  #areas .areas--title__img__image img{
    width: 450px;
  }
  #footer .footer--title__group--input input{

  }
  #footer .footer--group{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
  }
  #past .past--group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #need .need h1{
    font-size: 30px;
  }
  #footer .footer--title__group--input input{
    width: 300px;
    height: 45px;
  }
  #footer .footer--title__group--our{
    padding-left: 1px;
  }
  #mount .mount--group h1{
    padding: 0 200px;
  }
  }

@media(max-width: 450px) {
  #aperture .aperture--group h2{
    font-size: 35px;
  }
  #aperture .aperture--group p{
    font-size: 12px;
    width: 90%;
  }
  #areas .areas--h1{
    font-size: 30px;
  }
  #areas .areas--p{
    font-size: 18px;
  }
  .areas--img__image img{
    width: 380px;
  }
  #areas .areas--title__img__image img{
    width: 380px;
  }
  #mount .mount--group h1{
    padding: 0 150px;
  }
  #tools .tools--group p{
    width: 90%;
    font-size: 12px;
  }
  #leafs .leafs--group h1{
    padding: 0 150px;
  }
  #past .past h1{
    font-size: 30px;
  }
  #past .past p{
    font-size: 20px;
  }
  #need .need h1{
    font-size: 20px;
    width: 80%;
  }
  #need .need p{
    font-size: 17px;
  }
  #need .need button {
    width: 120px;
    height: 35px;
    font-size: 12px;
  }
  #footer .footer--group__two{
    padding: 20px 0;
  }
  #footer .footer--group__two a{
    padding: 5px 0;
    font-size: 10px;
  }
  #footer .footer--group__three a{
    padding: 5px 0;
    font-size: 10px;
  }
  #footer .footer--title__lin {
    margin: 10px 30px;
  }
  #footer .footer--title__lin2 {
    margin: 10px 30px;
  }
  #footer .footer--title__group--input input{
    width: 250px;
    height: 40px;
  }


  }

@media(max-width: 400px) {
  .menu__btn{
    left: 90%;
  }
  #aperture .aperture--icon__group{
    padding: 0 15px;
  }
  #areas .areas--h1{
    font-size: 25px;
  }
  .areas--img__image img{
    width: 330px;
    height: 300px;
  }
  #areas .areas--title__img__image img{
    width: 330px;
    height: 300px;
  }
  #mount .mount--group h1{
    padding: 0 123px;
  }
  #tools .tools--group button{
    width: 130px;
    height: 37px;
    font-size: 12px;
  }
  #leafs .leafs--group h1{
    padding: 0 127px;
  }
  #footer .footer--title__group--input input{
    width: 220px;
    height: 38px;
    &::placeholder{
      font-size: 14px;
    }
  }
  #footer .footer--all__group h1{
    font-size: 12px;
  }
}

@media(max-width: 380px) {
  #mount .mount--group h1{
    padding: 0 111px;
  }
  #mount .mount--icon__title{
    padding: 0 20px;
  }
  #tools .tools--img__image img{
    width: 379px;
  }
  #leafs .leafs--icon__title{
    padding: 15px 15px;
  }
  #past .past h1{
    font-size: 25px;
  }
  #past .past p{
    font-size: 14px;
  }
  #fall .fall--group h1{
    padding: 0 90px;
  }
  #fall .fall--group p{
    padding: 0 40px;
  }
  #fall .fall--group{
    padding-top: 100px;
  }
  #fall .fall--icon{
    padding-top: 100px;
  }
}
